global-exclude *.har
global-exclude .env
global-exclude .env.* *.sqlite3 *.sqlite3-*
include LICENSE README.md WOLT_API.md
recursive-include examples *.py
recursive-include tests *.py
prune .tickets
exclude PLUGIN.md config.json token.txt request.txt
